# Juntar datos de aemet

In [1]:
import pandas as pd
import glob

In [9]:
# Obtener todos los archivos CSV en una carpeta
archivos = glob.glob("../../data/raw/Open_Meteo/daily/Hoyo de Manzanares/2025/*.csv")

# Leer y concatenar todos los archivos
df_2025 = pd.concat([pd.read_csv(f) for f in archivos])

# Opcional: Ordenar por fecha si hay una columna de tiempo
df_2025 = df_2025.sort_values(by="date")
df_2025

,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,year,month_number,month_name,relative_humidity_2m,estación
0,2025-01-01 00:00:00+00:00,3.0,7.081000,-1.769,2.699750,2025,1,Enero,82.619406,ESMAD2800000028240A
1,2025-01-02 00:00:00+00:00,3.0,8.231000,-1.619,1.756000,2025,1,Enero,81.516104,ESMAD2800000028240A
2,2025-01-03 00:00:00+00:00,3.0,9.131001,-0.069,3.145583,2025,1,Enero,74.290244,ESMAD2800000028240A
3,2025-01-04 00:00:00+00:00,3.0,4.981000,-0.219,2.199750,2025,1,Enero,93.581003,ESMAD2800000028240A
4,2025-01-05 00:00:00+00:00,61.0,6.081000,2.981,4.564333,2025,1,Enero,99.482642,ESMAD2800000028240A
...,...,...,...,...,...,...,...,...,...,...
25,2025-02-26 00:00:00+00:00,3.0,10.781000,-1.469,4.593500,2025,2,Febrero,62.097260,ESMAD2800000028240A
26,2025-02-27 00:00:00+00:00,51.0,9.731000,3.381,5.891417,2025,2,Febrero,67.110503,ESMAD2800000028240A
27,2025-02-28 00:00:00+00:00,51.0,11.831000,3.531,7.347666,2025,2,Febrero,60.945416,ESMAD2800000028240A
0,2025-03-01 00:00:00+00:00,71.0,6.231000,1.881,4.737250,2025,3,Marzo,85.895707,ESMAD2800000028240A
1,2025-03-02 00:00:00+00:00,73.0,2.131000,0.481,1.439333,2025,3,Marzo,92.469710,ESMAD2800000028240A

In [14]:
df_hoyo = pd.concat([df_2020, df_2021, df_2022, df_2023, df_2024, df_2025])

In [16]:
df_hoyo = df_hoyo.sort_values(by="date")
df_hoyo

,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,year,month_number,month_name,relative_humidity_2m,estación
0,2020-03-02 00:00:00+00:00,61.0,8.581000,3.131,6.308082,2020,3,Marzo,56.704771,ESMAD2800000028240A
1,2020-03-03 00:00:00+00:00,51.0,13.781000,2.781,8.176833,2020,3,Marzo,72.207409,ESMAD2800000028240A
2,2020-03-04 00:00:00+00:00,51.0,14.531000,8.031,10.745584,2020,3,Marzo,62.649034,ESMAD2800000028240A
3,2020-03-05 00:00:00+00:00,51.0,11.931001,4.631,8.435166,2020,3,Marzo,61.378813,ESMAD2800000028240A
4,2020-03-06 00:00:00+00:00,3.0,8.131001,2.381,5.068500,2020,3,Marzo,49.162910,ESMAD2800000028240A
...,...,...,...,...,...,...,...,...,...,...
10,2025-02-11 00:00:00+00:00,61.0,10.131001,3.481,6.312251,2025,2,Febrero,79.902882,ESMAD2800000028240A
11,2025-02-12 00:00:00+00:00,53.0,9.331000,3.081,6.124749,2025,2,Febrero,64.708693,ESMAD2800000028240A
12,2025-02-13 00:00:00+00:00,3.0,12.481000,2.231,6.266416,2025,2,Febrero,73.158148,ESMAD2800000028240A
13,2025-02-14 00:00:00+00:00,3.0,13.131001,3.181,7.251834,2025,2,Febrero,73.439947,ESMAD2800000028240A
14,2025-02-15 00:00:00+00:00,3.0,11.281000,3.431,7.174750,2025,2,Febrero,70.794997,ESMAD2800000028240A

In [17]:
df_hoyo.reset_index(drop=True, inplace=True)

In [24]:
df_hoyo.dtypes

date                    datetime64[ns, UTC]
weather_code                        float64
temperature_2m_max                  float64
temperature_2m_min                  float64
temperature_2m_mean                 float64
year                                  int64
month_number                          int64
month_name                           object
relative_humidity_2m                float64
estación                             object
dtype: object

In [ ]:
df_hoyo.to_csv("../../data/raw/Open_Meteo/daily/Hoyo de Manzanares/estacion_ESMAD_data.csv", index=False)

:

In [27]:
df_hoyo["date"] = pd.to_datetime(df_hoyo["date"]).dt.strftime("%Y-%m-%d")

In [28]:
df_hoyo.head(3)

,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,year,month_number,month_name,relative_humidity_2m,estación
0,2020-03-02,61.0,8.581,3.131,6.308082,2020,3,Marzo,56.704771,ESMAD2800000028240A
1,2020-03-03,51.0,13.781,2.781,8.176833,2020,3,Marzo,72.207409,ESMAD2800000028240A
2,2020-03-04,51.0,14.531,8.031,10.745584,2020,3,Marzo,62.649034,ESMAD2800000028240A

In [20]:
rango_fechas = pd.date_range(start=df_hoyo["date"].min(), end=df_hoyo["date"].max(), freq="D")

In [21]:
fechas_faltantes = rango_fechas.difference(df_hoyo["date"])
fechas_faltantes

DatetimeIndex([], dtype='datetime64[ns, UTC]', freq='D')

In [23]:
nuevafila = {"fecha": "2022-03-10", "indicativo": "0201X", "nombre": "BARCELONA, DRASSANES", "provincia": "BARCELONA", "altitud": 11, "prec": "0,0"}

In [24]:
df = pd.concat([df, pd.DataFrame([nuevafila])], ignore_index=True)

In [25]:
df = df.sort_values(by="fecha")
df

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin
0,2021-09-01,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"23,5","0,4","21,6",05:34,"25,4",16:20,69.0,78.0,00:20,48.0,22:50
1,2021-09-02,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"24,2","1,0","21,1",03:39,"27,2",15:20,72.0,81.0,10:20,57.0,00:00
2,2021-09-03,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"24,6","0,2","20,4",05:24,"28,7",15:30,71.0,81.0,05:20,57.0,15:40
3,2021-09-04,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"24,4","0,0","21,2",05:21,"27,5",13:47,73.0,83.0,23:40,66.0,13:50
4,2021-09-05,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"25,4","0,0","21,8",05:26,"29,0",12:26,75.0,87.0,05:20,64.0,10:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2025-02-09,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"11,1","0,0","7,5",06:27,"14,7",14:14,67.0,78.0,06:20,56.0,16:10
1257,2025-02-10,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"12,2","0,0","9,5",02:46,"14,9",14:58,78.0,83.0,13:40,70.0,11:00
1258,2025-02-11,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"13,6","0,0","11,4",22:26,"15,7",11:57,78.0,87.0,Varias,67.0,15:40
1259,2025-02-12,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"12,2","24,0","10,5",05:20,"13,9",12:15,85.0,92.0,Varias,72.0,09:30
1260,2025-02-13,0201X,"BARCELONA, DRASSANES",BARCELONA,11,"13,8","0,0","11,2",05:45,"16,5",12:46,71.0,88.0,03:30,59.0,11:50

In [18]:
import os

carpeta = "data/raw/data_aemet/aemet_meses"
archivos = [f for f in os.listdir(carpeta) if f.endswith(".csv")]

for archivo in archivos:
    # Extrae los últimos 8 caracteres antes de ".csv"
    nombre_base, extension = os.path.splitext(archivo)
    terminacion = nombre_base[-8:] + ".csv"  # Toma los últimos 8 caracteres
    nuevo_nombre = f"estacion_3195_{terminacion}"

    # Rutas completa de los archivos
    ruta_vieja = os.path.join(carpeta, archivo)
    ruta_nueva = os.path.join(carpeta, nuevo_nombre)
    
    # Renombra el archivo
    os.rename(ruta_vieja, ruta_nueva)
    print(f"Renombrado: {archivo} -> {nuevo_nombre}")

Renombrado: Estacion_3195_AbrSep24.csv -> estacion_3195_AbrSep24.csv
Renombrado: Estacion_3195_AgoEne20.csv -> estacion_3195_AgoEne20.csv
Renombrado: Estacion_3195_AgoEne21.csv -> estacion_3195_AgoEne21.csv
Renombrado: Estacion_3195_DecAbr23.csv -> estacion_3195_DecAbr23.csv
Renombrado: Estacion_3195_EneMay22.csv -> estacion_3195_EneMay22.csv
Renombrado: Estacion_3195_FebJul19.csv -> estacion_3195_FebJul19.csv
Renombrado: Estacion_3195_FebJul20.csv -> estacion_3195_FebJul20.csv
Renombrado: Estacion_3195_FebJun21.csv -> estacion_3195_FebJun21.csv
Renombrado: Estacion_3195_JulDec21.csv -> estacion_3195_JulDec21.csv
Renombrado: Estacion_3195_JunNov22.csv -> estacion_3195_JunNov22.csv
Renombrado: Estacion_3195_MayOct23.csv -> estacion_3195_MayOct23.csv
Renombrado: Estacion_3195_NovMar24.csv -> estacion_3195_NovMar24.csv
Renombrado: Estacion_3195_OctFeb25.csv -> estacion_3195_OctFeb25.csv
Renombrado: Estacion_3195_ridEne19.csv -> estacion_3195_ridEne19.csv